
            header{
                Display:flex;
                justify-content: space-between;
                font-size: 18px;
                font-family: Arial;
                padding-top: 20px;
                padding-left: 95px;
                padding-right: 95px;
            }
            span{
                margin-right: 25px;
            }
            .brand-title{
                font-size: 28px;
               font-family:Arial;
               font-weight: bold;
            }
            article{
                background-color:black;
                color:white;
                text-align: center;
                font-size: 14px;
                font-family: Arial;
                padding:10px;
                margin-top: 20px;
            }
            .bi-lightning-charge-fill{
                color:orange;
            }
            footer{
                background-color: black;
                color: white;
                padding: 10px;
                /* margin-top:px; */
            }
            .subscribe{
                display:flex;
                justify-content: center;
                align-items: center;
                height:200px;
                text-align: center;
                font-family: Arial;
            }
            .subscribe-title{
                font-family:Arial;
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 40px;
            }
            .email{
                display: inline-block;
                border:1px solid white;
                border-radius: 5px;
                text-align: left;
                width:340px;
                padding:18px
            }
            .btn{
                font-family: Arial;
                display: inline-block;
                border:1px solid white;
                width:130px;
                padding: 18px;
                border-radius: 5px;
                font-weight: bold;
                text-align: center;
            }
            .footer{
                margin-top: 50px;
                display:grid;
                grid-template-columns:  2fr 2fr 2fr 2fr 2fr;
                background-color: black;
                font-family: Arial;
                color:white;        
            }
            .footer-title{
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 20px;
                margin-top: 20px;
            }
            .footer-title~span{
                display:block;
                margin-bottom: 13px;
            }
            .footer-brand{
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            aside span{
                font-size: 20px;
                margin-right: 10px;
            }
            .count{
                display: inline-block;
                width:12px;
                height:12px;
                background-color: red;
                text-align: center;
                border-radius: 9px;
                color: white;
                position: absolute;
                padding: 2px;
                font-size: 10px;
                right:95px;
                top:20px;
            }
            .nav{
                position: relative;
            }
            .women{
                background-image: url("public/image/womens.jpg");
                background-size: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
            .men{
                background-image: url("public/image/mens.jpeg");
                background-size: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
            .kids{
                background-image: url("public/image/kids.jpg");
                background-image: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
            .top{
                display: grid;
                grid-template-columns: 4fr 4fr 4fr;
                height:600px;
                width:1456px;
                color:white;
                font-size: 40px;
                padding-top: 35px;
                text-shadow: 2px 2px 2px black;
                background-color: white;
            }
            button{
                display: inline-block;
                border: none;
                height:40px;
                font-size: 20px;
                font-family: Arial;
                text-align: center;
                border-radius: 8px;
            }

            .information{
                padding-top: 50px;
                padding-right:160px ;
                padding-left: 190px;
                font-family: Arial;
                border:1px solid gray;
                border-top:none;
                border-left:none;
                border-right:none;
                padding-bottom: 50px;
            }
            .info{
                display: flex;
            }
            .title{
                padding-left: 25px;
                
            }
            .info-text{
                font-size: 17px;
                padding-left: 49px;
                font-size: 14px;
                color: lightslategray;
            }
            .title span{
                color:red;
                font-size: 20px;
            }


            .new{
                text-align: center;
                align-items: center;
            }
            .nc{
                color:gray;
                font-size: 14px;
                font-family: Arial;
                padding-top: 50px;
            }
            .nc-year{
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 40px;
            }
            .nc-info{
                color:gray;
                font-family: Arial;
            }

            
            .new-collection{
                display: grid;
                grid-template-columns: 4fr 8fr;
                color:white;
                font-size: 20px;
                padding-top: 35px;
            }
            .bags{
                background-image: url("public/image/bag.jpeg");
                background-size: cover;
                height:320px;
                display:flex;
                flex-direction:column;
                align-items: center;
                padding-top: 198px;
                margin-right: 10px;
            }
            .printed-shirt{
                background-image: url("public/image/printed-shirt.jpeg");
                background-size: cover;
                height:320px;
                padding-top: 199px;
                padding-left: 60px;
                display:flex;
                flex-direction:column;
                color : black ; 
                position: relative;
                padding-right: 610px;
            }
            .shirt-btn{
                border: none;
                font-size: 20px;
                background-color: rgba(0,0,0,0.0);
            }
            .bag-btn{
                color: white;
                font-size: 20px;
                background-color: rgba(0,0,0,0.0);
                border: none;
            }
            .offer {
            width: 70px;
            height: 70px;
            background-color: orangered;
            color:white;
            padding: 5px;
            border-radius: 50px;
            text-align: center;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 10px;
            top: 10px;
            font-family: Arial;
            }


        
            .new-collection2{
                display: grid;
                grid-template-columns: 8fr 4fr;
                padding-top: 35px;
            }
            .basic-women-dresses{
                background-image: url("public/image/basic-women-dress.jpeg");
                background-size: cover;
                height:320px;
                padding-top: 199px;
                padding-left: 60px;
                flex-direction:column;
                color : black ; 
                font-size: 25px;
                margin-right: 20px;
            }
            .sweatshirt{
                background-image: url("public/image/sweatshirt.jpg");
                background-size: cover;
                height:320px;
                display:flex;
                flex-direction:column;
                align-items: center;
                padding-top: 200px;
                margin-right: 10px;
                color:white;
                font-size: 25px;
            }
            .basic-btn{
                border: none;
                font-size: 20px;
                background-color: rgba(0,0,0,0.0);
                padding-right: 700px;
            }
            .sweatshirt-btn{
                color: white;
                font-size: 20px;
                background-color: rgba(0,0,0,0.0);
                border: none;
            }


            .t1{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 40px;
                text-align: center;
                padding-top: 40px;
            }


            .head3{
                display: flex;
                justify-content: space-between;
                padding-left: 600px;
                padding-right: 600px;
                color:red;
                font-size: 18px;
                font-family: arial;
                margin-top: 25px;
            }


            .cards{
                display: flex;
                padding-left: 50px;
                font-family: Arial;
            }
            img{
                width:280px;
                height: 300px;
                margin-right: 40px;
                margin-top: 40px;
                margin-left: 26px;
            }
            .cards2{
                margin-top: 25px;
                display: flex;
                font-family: Arial;
                padding-left: 50px;
            }
            .head11{
                color: gray;
                padding-bottom:8px;
                padding-top: 15px;
                padding-left: 28px;

            }
            .head22{
                padding-left: 28px;
            }
            .head33{
                padding-left: 28px;
                padding-top: 5px;
            }


            .title22{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 28px;
                text-align: center;
                padding: 80px;
                font-weight: bold;
            }

            .banner23{
                background-image: url("public/image/banner-2.jpg");
                background-size: cover;
                height:470px;
                padding-top: 199px;
                padding-left: 1000px;
                flex-direction:column;
                color : black ; 
                font-size: 34px;
            }
            .banner-btn{
                width: 170px;
                height:50px;
                border-radius: 0px;
                background-color: black;
                color: white;
            }
            .banner-btn:hover{
                background-color: white;
                color: black;
            }
            .class22{
                text-align: center;
                margin-top: 30px;
            }
            .c22{
                font-size: 15px;
                color: gray;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
            .c23{
                font-size: 30px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                padding-top: 17px;
                font-weight: bold;
            }

            .reviews{
                display: grid;
                grid-template-columns: 4fr 4fr 4fr;
                height:450px;
                width: 1200px;
                margin-left: 130px;
            }
            .review-1{
                border: 2px solid gray;
                margin: 20px;
                height: 330px;
                width: 350px;
            }
            .feedback{
                font-size: 16px;
                color: gray;
                padding-left: 25px;
                padding-right: 20px;
                font-family: Arial;
                padding-top: 15px;
            }
            .review-1 img{
                height: 80px;
                width: 80px;
                float: left;
            }
            .head11{
                padding-top:40px ;
            }
            .tsub{
                padding-top: 10px;
            }
            .name{
                padding-left: 24px;
                padding-top: 45px;
            }
            .review-2{
                border: 2px solid gray;
                margin: 20px;
                height: 380px;
                width: 350px;
            }
            .review-2 img{
                height: 80px;
                width: 80px;
                float: left;
            }
            .last{
                background-color: lightgray;
                height:550px;
                width: 100%;
            }
            .branding{
                text-align: center;
                font-size: 40px;
                padding-top: 55px;
            }
            .some-text{
                text-align: center;
                font-size: 20px;
                padding-top: 15px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
            .pd{
              
                display: grid;
                grid-gap: 15px;
                grid-template-columns:repeat(6,153px);
                text-align: center;
                justify-content: center;
            }
            .pd img{
                height: 145px;
                width: 100%;
            }
           .brands-option{
            display: flex;
            justify-content: center;
            padding-top: 30px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 35px;
            padding-left: 55px;
            color: gray;
            font-weight: bold;
           }

